<?xml version='1.0' encoding='UTF-8'?>

<!--  EmpMapper.xml   -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lll.po.Emp">
    <resultMap id="empDept" type="lll.po.Emp">
        <id property="empid" column="empid"></id>
        <result column="ename" property="ename"></result>
        <association property="dept"  javaType="lll.po.Dept">
            <id column="deptid" property="deptid"></id>
            <result property="dname" column="dname"></result>
        </association>

    </resultMap>
    
    <select id="getEmp" resultType="lll.po.Emp">
        SELECT * FROM emp e  where  e.empid = 1
    </select>


    <insert id="addEmp" parameterType="lll.po.Emp">
        insert into emp(ename,logid) value (#{ename},#{logid})
    </insert>

    <select id="getEmpDept" resultMap="empDept">
         select e.*,d.dname
          from emp e
          inner join dept d
          on e.deptid = d.deptid
          where d.dname = '找找';
    </select>
</mapper>